{erl_opts, [debug_info]}.
{deps, [
  {errm_sqlite, {git, "https://codeberg.org/h4rl/errm-SQLite", {branch, "main"}}},
  {errm_http, {git, "https://codeberg.org/h4rl/errm-HTTP", {branch, "main"}}},
  {errm_env, {git, "https://codeberg.org/h4rl/errm-ENV", {branch, "main"}}},
  {errm_uuid, {git, "https://codeberg.org/h4rl/errm-UUID", {branch, "main"}}},
  {errm_jwt, {git, "https://codeberg.org/h4rl/errm-JWT", {branch, "main"}}},
  {errm_json, {git, "https://codeberg.org/h4rl/errm-JSON", {branch, "main"}}},
  {errm_argon, {git, "https://codeberg.org/h4rl/errm-ARGON", {branch, "main"}}},
  {errm_ws, {git, "https://codeberg.org/h4rl/errm-WS", {branch, "main"}}}
]}.

{profiles, [
    {migrations, [
      {src_dirs, ["migrator"]},
      {escript_name, "migrator"},
      {escript_main_app, migrator},
      {escript_incl_apps, [errm_sqlite]},
      {escript_incl_priv, [{errm_sqlite, "*.so"}]},
      {escript_emu_args, "%%! +sbtu +A1\n"}
    ]},
    {blogtest, [
      {src_dirs, ["blog_test", "src"]},
      {escript_name, "blog_test"},
      {escript_main_app, errm_a_blog},
      {escript_incl_priv, [{errm_sqlite, "*.so"}, {errm_http, "*.so"}, {errm_argon, "*.so"}]},
      {escript_incl_apps, [errm_sqlite, errm_http, errm_env, errm_uuid, errm_jwt, errm_json, errm_argon, errm_ws]},
      {escript_emu_args, "%%! -escript main blog_test\n"}
    ]},
    {prod, [
      {erl_opts, [
        no_debug_info,
        deterministic,
        warnings_as_errors,
        compressed
      ]},
      {src_dirs, ["blog_test", "src"]},
      {escript_name, "blog_test"},
      {escript_incl_priv, [{errm_sqlite, "*.so"}, {errm_http, "*.so"}, {errm_argon, "*.so"}]},
      {escript_incl_apps, [errm_sqlite, errm_http, errm_env, errm_uuid, errm_jwt, errm_json, errm_argon, errm_ws]},
      {escript_emu_args, "%%! -escript main blog_test\n"}
    ]}
]}.
